<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaperTronics Makerspace Login or Signin</title>
    <link rel="stylesheet" href="/css/style_login.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .buttonload {
            /* Green background */
            border: none;
            /* Remove borders */
            color: black;
            /* White text */
            padding: 12px 24px;
            /* Some padding */
            font-size: 24px;
            /* Set a font-size */
            background-color: transparent;
        }
        
        #pk {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function() {
            $("#kpp").click(function() {
                $("#pk").show();
            });
        });
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>




    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>

                </div>
                <div class="card-body">
                    <form id="login">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email" name="login" id="email" required/>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" name="password" id="password" required/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right btn-success" id="kpp">
                            <button class="buttonload">
                                <span id="pk">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                              </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="/">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/Forget">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>



    <script>
        //  window.addEventListener("DOMContentLoaded", () => {
        var k;
        var firebaseConfig = {
            apiKey: "AIzaSyCul5ata2gTPWclE0fmXzgHawN7hMZWjOA",
            authDomain: "circuitmaker-89730.firebaseapp.com",
            databaseURL: "https://circuitmaker-89730.firebaseio.com",
            projectId: "circuitmaker-89730",
            storageBucket: "circuitmaker-89730.appspot.com",
            messagingSenderId: "123357909691",
            appId: "1:123357909691:web:bef9d6dae780340c540f9e",
            measurementId: "G-RG2GV4C6L3"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        console.log(firebase);
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
            .getElementById("login")
            .addEventListener("submit", (event) => {
                event.preventDefault();
                var email = document.getElementById("email").value;
                var password = document.getElementById("password").value;

                firebase
                    .auth()
                    .signInWithEmailAndPassword(email, password)
                    .then(({
                        user
                    }) => {
                        console.log(user.uid);

                        user.getIdToken().then((idToken) => {
                            return fetch("/sessionLogin", {
                                method: "POST",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                },
                                body: JSON.stringify({
                                    idToken
                                }),
                            });
                        });
                        return Promise.resolve(user);
                    })
                    .then((user) => {
                        console.log(user);
                        setTimeout(() => {

                            window.location.assign("/main/" + user.uid);
                        }, 5000);

                    }).catch(err => {
                        alert("Email or Password Error");
                        window.location.assign("/login");
                        console.log(err);
                    })
                return false;
            });
        // });
    </script>
</body>

</html>