.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
    border-top: 0;
}

.table-user-information>tbody>tr>td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.container {
    margin-top: 12%;
    max-width: 100%;
    height: 200%;
}

td {
    font-size: large;
    font-family: serif;
    text-transform: capitalize;
}

.btn-primary {
    font-size: 15px;
}

.btn-danger {
    float: right;
    margin-right: 50px;
    font-size: 20px;
}